@tailwind base;
@tailwind components;
@tailwind utilities;

/* Initial state */
.content-div {
  opacity: 1;
  transition: opacity 0.25s ease;
}

/* Fade-out animation */
.fade-out {
  opacity: 0;
}

/* Fade-in animation */
.fade-in {
  opacity: 1;
}
